<!-- font Awesome -->
<script src="https://kit.fontawesome.com/3e483ed6b4.js"></script>
<link rel="stylesheet" href="/css/dashBoard.css">


<title>order online</title>
<body class="bg-img">
    <h6 class="header mt-4">Ready to order <%= name %> . . .</h6>
    <a href="/users/logout" class="btn1">Logout</a>
    <div class="container">
        <section class="checkOut content-section">
            <h2 class="section-header">Cart
            <i class="fas fa-cart-plus icon"></i></h2>
            <div class="cart-row">
                <span class="cart-item cart-header cart-column">Item</span>
                <span class="cart-price cart-header cart-column">Price:</span>
                <span class="cart-quantity cart-header cart-column">Quantity</span>
            </div>
            <div class="cart-items">
                <!-- code in javaScript -->
            </div>
            <div class="cart-total">
                <strong class="cart-total-title">Total:</strong>
                <span class="cart-total-price">$0</span>
            </div>
            <button class="btn2 btn-purchase" type="button">Purchase</button>
        </section>
            
        <div class="row">
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Salmon Roll</span>
                    <img src="/img/sushi-2853382.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/img/sushi-2853382.jpg"></a>
                <div class="check "> 
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">   $10.99</span>
                        <button class="btn3  shop-item-button"><img src="/img/cart.svg" alt=""></button>
                    </div>
                </div>
            </div>
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Tuna Roll</span>
                    <img src="/img/tunaAvocado.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/img/tunaAvocado.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center">price:</span> 
                        <span class="shop-item-price">   $13.99</span>
                        <button class="btn3  shop-item-button"><img src="/img/cart.svg" alt=""></button>
                    </div>
                </div>
            </div>
            
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Poke</span>
                    <img src="/img/poke.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/img/poke.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">   $14.99</span>
                        <button class="btn3  shop-item-button"><img src="/img/cart.svg" alt=""></button>
                    </div>

                </div>
            </div>
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Sashimi</span>
                    <img src="/img/sashimi.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/img/sashimi.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">   $17.99</span>
                         <button class="btn3  shop-item-button"><img src="/img/cart.svg" alt=""></button>
                    </div>

                </div>
            </div>
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Vegi Roll</span>
                    <img src="/img/vegiRoll.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/img/vegiRoll.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">   $8.99</span>
                         <button class="btn3  shop-item-button"><img src="/img/cart.svg" alt=""></button>
                    </div>

                </div>
            </div>
            <div class="column col-10 mx-auto col-sm-8 col-lg-6 my-3">
                    <span class="shop-item-title text-capitalize d-block">Spicy Tuna Roll</span>
                    <img src="/img/tunaRoll.jpg" class="image-fluid img-thumbnail shop-item-image" alt="menu item">
                    <a href="/img/tunaRoll.jpg"></a>
                <div class="check ">
                    <div class="check-link d-inline-block">
                        <span class="item-title text-capitalize text-center ">price:</span> 
                        <span class="shop-item-price">   $12.99</span>
                        <button class="btn3  shop-item-button"><img src="/img/cart.svg" alt=""></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/dashBoard.js"></script>
</body>
